.footer_container{
    margin-top: 4%;
    /* background-color: beige; */
    border-top: 2px solid rgb(229, 231, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
}

.footer_left p{
    font-size: 14px;
    color: rgb(107, 114, 128);
    letter-spacing: -0.32px;
    line-height: 20px;
}
.footer_left a{
    font-size: 14px;
    font-weight: 500;
    color: rgb(243, 244, 246);
    letter-spacing: -0.32px;
    line-height: 20px;
}


.footer_right{
    display: flex;
    gap: 0.1rem;
    align-items: center;
    /* aspect-ratio: 3/2; */
}

.footer_right img{
    
    width: 40%;
    height: auto;
}